

  <div class="col-sm-8">
    <header>
      <h1>Jeffrey Bartels</h1>
      <h2>Aspiring Web Developer</h2>
    </header>
    <p>In my spare time I have been teaching myself web development, learning Ruby, RoR, HTML, CSS,
    JavaScript and jQuery. I completed the Web Application Developer short-course at Coder Factory
    in February but have otherwise been following along with <a href="https://www.theodinproject.com/home">The Odin Project</a>.</p>

    <p>I have finished a couple of Ruby command line games and am working on a few Rails apps.
    Please take a look at my Resume and Github account.</p>
  </div>
<!-- </div> -->




<!-- style="background-color: #e74c3c;" -->
