<h1>Jeffrey Bartels</h1>
<h2>Web Developer and Bass Player</h2>

<p>In my spare time I have been teaching myself web development, learning Ruby, RoR, HTML, CSS, <br>
JavaScript and jQuery. I completed the Web Application Developer short-course at Coder Factory <br>
in February but have otherwise been following along with <a href="https://www.theodinproject.com/home">The Odin Project</a>.</p>

<p>I have have finished a couple of Ruby command line games and am working on a few Rails apps. <br>
Please take a look at my <a href="https://github.com/barjit">Github</a> and <a href="https://www.linkedin.com/in/barjit/">Linkedin</a> accounts.</p>

<%= link_to "Blog", posts_path %>
