<h1>Jeffrey Bartels</h1>
<h2>Web Developer and Bass Player</h2>

<p>In my spare time I have been teaching myself web development, learning Ruby, RoR, HTML, CSS, <br>
JavaScript and jQuery. When I set out to work on a programming task I am fully engaged and get <br>
immense satisfaction from my work.</p>

<p>I have extensive experience in customer service positions where clear communication, adaptability <br>
and valuable interpersonal skills are crucial.</p>

<%= link_to "blog", posts_path %>
