

  <div class="col-sm-8">
    <header>
      <h1 class= "text-right">Jeffrey Bartels</h1>
      <h2 class= "text-right">Aspiring Web Developer</h2>
    </header>
    <p>In my spare time I have been teaching myself web development, learning Ruby, RoR, HTML, CSS,
    JavaScript and jQuery. I completed the Web Application Developer short-course at Coder Factory
    in February but have otherwise been following along with <a href="https://www.theodinproject.com/home">The Odin Project</a>.</p>

    <p>I have finished a couple of Ruby command line games and am working on a few Rails apps.
    Please take a look at my Resume and Github account.</p>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-10">
      <%= image_tag("stairs.jpg", class: "img-fluid") %>
    </div>
  </div>
