<div class="col-sm-8">
  <header>
    <h1 class= "text-right">Jeffrey Bartels</h1>
    <h2 class= "text-right">Resume</h2>
  </header>

  <hr>

  <h4><a href="#" onclick="window.open('https://github.com/barjit/shop_right')">ShopRight</a></h4>
  <p>
    I built this Rails application to make it easier to choose meals to cook for the week.
    I can also send the ingredients of those meals to a shopping list to make the grocery
    shop smoother.
  </p>
  <ul>
    <li>First full personal Rails application.</li>
    <li>Learn’t about integrating gems like devise and paperclip.</li>
    <li>Learn’t about relationships between models.</li>
    <li>Learn’t about integration testing with devise helpers.</li>
  </ul>

  <hr>

  <h4><a href="#" onclick="window.open('https://github.com/barjit/mastermind')">Mastermind</a></h4>
  <p>
    This is a Ruby command line mastermind game that I built while following along with
    <a href="#" onclick="window.open('https://www.theodinproject.com/courses/ruby-programming/lessons/oop')">The Odin Project</a>.
  </p>
  <ul>
    <li>Learn’t about organising code into methods and classes.</li>
    <li>Gained a better understanding of object oriented principles.</li>
    <li>Learn’t about implementing basic tests and documentation with rdoc.</li>
  </ul>

  <hr>

  <h4><a href="#" onclick="window.open('https://github.com/barjit/hangman')">Hangman</a></h4>
  <p>
    This is a Ruby command line hangman game that I also built while following along with
    <a href="#" onclick="window.open('https://www.theodinproject.com/courses/ruby-programming/lessons/file-i-o-and-serialization')">The Odin Project</a>.
  </p>
  <ul>
    <li>Learn’t about serialisation by being able to save a game and load it back up again.</li>
    <li>More practice with object oriented principles.</li>
  </ul>

  <hr>

  <h4><a href="#" onclick="window.open('https://github.com/barjit/kewl-copy')">Kewl</a></h4>
  <p>
    This is my (very similar) version of a friends business website that I did to refresh
    my HTML and Bootstrap skills.
  </p>
  <ul>
    <li>Refreshed my knowledge of bootstrap and HTML.</li>
    <li>Experimented with different responsive bootstrap classes.</li>
  </ul>

  <hr>

  <h2>Education</h2>
  <h4>Coder Academy (formerly Coderfactory)</h4>
  <p>Period: December 2016 - February 2017 <br> Course: <a href="#" onclick="window.open('https://coderacademy.edu.au/learn-to-code/web-app-builder')">Web App Builder</a></p>

  <br>

  <h4>University of Otago</h4>
  <p>Period: February 2006 - June 2009 <br> Studied: Contemporary Music Performance</p>

  <hr>

  <h2>Recent Work History</h2>
  <h4>Williams Lea (Bank of America Merrill Lynch and Deloitte contract)</h4>
  <p>Period: October 2014 - Current</p>
  <p>Position: Internal Commercial Services Coordinator</p>
  <p>Tasks: Customer service, invoice processing, vendor and client liaison, arranging courier deliveries
     and internal mail distribution.</p>

</div>
