<!-- Navigation begin -->
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand" href="/">Jeffrey Bartels</h1>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="welcome/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="window.open('https://github.com/barjit')">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="window.open('https://www.linkedin.com/in/barjit/')">Linkedin</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- Navigation end -->
